html {
    background: rgb(185, 242, 240);
}
h1 {
    color: red;
    font-family: 'VT323', monospace;
    text-align:left;
    position:relative;
    left: 20px;
  }
h2 {
    color:rgb(26, 26, 26);
    font-family: 'VT323', monospace;
    position:relative;
    left: 20px;
    font-size:small;
}
p {
    color:rgb(34, 34, 34);
    font-family: 'VT323', monospace;
    position:relative;
    left: 20px;
    font-size:x-small;
}
.magenta-text {
    color:magenta;
}
#main {
    color:purple
}
p[draggable]{
    color:aqua;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.first {
    flex: 1;
    
    
}

.second {
    flex: 2;
    
}

.designhere {
    gap: 10px;
    padding: 0px;
    background-color: whitesmoke;
    border:solid teal;
    border-width: 3px 3px;
    position:relative;
    width: 250px;
    height: 250px;
    left: 5%;
    top:auto;


}

#box {
    position: relative;

  }


.lips {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin: 2px;
    left: 3%;
    width: 90%;

}

.lips > .drag {
    display:flex;
    margin: 5px;

  }

  .necklace {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin: 0px;
    left: 3%;
    width: 95%;
}

.necklace > .drag {
    display:flex;
    margin: 1px;

  }


  .outfits {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin: -5px;
    left: 3%;
    top: 10px;
    width: 95%;
}

.outfits > .drag {
    display:flex;
    margin: -8px;

  }
.earrings {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin:5px;
    left: 5%;
    width: 75%;
}

.earrings > .drag {
    display:flex;
    margin:5px;

  }


.piercings {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin:5px;
    left: 5%;
    width: 75%;
}
.piercings > .drag {
    display:flex;
    margin:5px;

  }
.hair {
    display:flex;
    position:relative;
    flex-wrap: wrap;
    left: 3%;
    width: 75%;


  }

  .hair > .drag {
    display:flex;
    margin:-15px;

  }

  .intimates {
    display:flex;
    position:relative;
    flex-wrap: wrap;
    left: 3%;
    width: 100%;


  }

  .intimates > .drag {
    display:flex;
    margin:3px;

  }

  .vices {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin: 3px;
    left: 3%;
    width: 75%;
}
.vices > .drag {
    display:flex;
    margin: 5px;

  }
.hat {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin:-5px;
    left: 5%;
    width: 75%;
}
.hat > .drag {
    display:flex;
    margin:-15px;

  }
  .hat2 {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin:-5px;
    left: 5%;
    width: 75%;
}
.hat2 > .drag {
    display:flex;
    margin:5px;

  }
  .hairaccess {
    display:flex;
    flex-direction: row;
    position:relative;
    flex-wrap: wrap;
    margin:-5px;
    left: 5%;
    width: 75%;
}
.hairaccess > .drag {
    display:flex;
    margin:0px;

  }


  .furniture {
    display:flex;
    position:relative;
    flex-wrap: wrap;
    left: 10%;
    margin: -20px;
    width: 100%;
}

.furniture > .drag {
    display:flex;
    margin: 0px;

}

.skintone {
    display:flex;
    position:relative;
    flex-wrap: wrap;
    left: 10%;
    margin: -20px;
    width: 100%;
}

.skintone > .drag {
    display:flex;
    margin: -25px;
    top: 30px;

}
.speech {
    display:flex;
    position:relative;
    flex-wrap: wrap;
    left: 5%;
    margin: 20px;
    width: 95%;
}

.speech > .drag {
    display:flex;

}
  .container > .drag {
    display:flex;
    margin:-15px;

  }





   ***lksndflsdlbl****



#container {
    display: flex;
    overflow: hidden;


}



.flex-jc {
    display: flex;
    justify-content: space-between;
}




#clearCustomization {
    font-size: 10px;
    font-style: italic;
}

#export {
    display: none;
    text-align: center;
}


#canvasWrapper {
    width: 100%;
    position: relative;
    height: 250px;
    width: 250px;
}

.canvas {
    content: '';
    width: 100%;
    position: relative;
    border: 1px solid #6075B8;
    background-color: #FED4E0;
    height: 250px;
    width: 250px;
    z-index: 1;

}


